In [3]:
import pandas as pd

columns = ['sent', 'class']
rows = []

rows = [['TDP TDP TDP TDP Sidhu Sidhu Sidhu BJP BJP BJP BJP BJP Congress Congress Congress Congress Congress Congress ', 'Politics'], 
        ['Nifty Nifty Nifty Nifty Nifty BJP BJP Sensex Sensex Sensex Sensex Sensex Sensex Congress ', 'Business'],
        ['Sidhu Sidhu Sidhu Sidhu Sidhu Sidhu BJP Sixer Sixer Sixer Sixer Congress Century Century ', 'Sports'],
        ['TDP TDP TDP TDP Nifty BJP Sensex Congress Congress Congress Congress Congress Congress ', 'Politics'],
        ['Sixer Sixer Sixer Sixer Sixer Century Century Century Century Century Century ', 'Sports'],
        ['Nifty Nifty Nifty Nifty BJP BJP Sensex Sensex Sensex Sensex Sensex Sensex Century ', 'Business'],
        ['TDP TDP TDP TDP TDP BJP BJP BJP Congress Congress Congress Congress Congress ', 'Politics']]

In [4]:
training_data=pd.DataFrame(rows, columns=columns)
training_data

                                                sent     class
0  TDP TDP TDP TDP Sidhu Sidhu Sidhu BJP BJP BJP ...  Politics
1  Nifty Nifty Nifty Nifty Nifty BJP BJP Sensex S...  Business
2  Sidhu Sidhu Sidhu Sidhu Sidhu Sidhu BJP Sixer ...    Sports
3  TDP TDP TDP TDP Nifty BJP Sensex Congress Cong...  Politics
4  Sixer Sixer Sixer Sixer Sixer Century Century ...    Sports
5  Nifty Nifty Nifty Nifty BJP BJP Sensex Sensex ...  Business
6  TDP TDP TDP TDP TDP BJP BJP BJP Congress Congr...  Politics

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

pol_docs = [row['sent'] for index,row in training_data.iterrows() if row['class'] == 'Politics']
bus_docs = [row['sent'] for index,row in training_data.iterrows() if row['class'] == 'Business']
sports_docs = [row['sent'] for index,row in training_data.iterrows() if row['class'] == 'Sports']

In [14]:
vec_p = CountVectorizer()
X_p = vec_p.fit_transform(pol_docs)
tdm_p = pd.DataFrame(X_p.toarray(), columns=vec_p.get_feature_names())

tdm_p

   bjp  congress  nifty  sensex  sidhu  tdp
0    5         6      0       0      3    4
1    1         6      1       1      0    4
2    3         5      0       0      0    5

In [15]:
vec_b = CountVectorizer()
X_b = vec_b.fit_transform(bus_docs)
tdm_b = pd.DataFrame(X_b.toarray(), columns=vec_b.get_feature_names())

tdm_b

   bjp  century  congress  nifty  sensex
0    2        0         1      5       6
1    2        1         0      4       6

In [16]:
vec_s = CountVectorizer()
X_s = vec_s.fit_transform(sports_docs)
tdm_s = pd.DataFrame(X_s.toarray(), columns=vec_s.get_feature_names())

tdm_s

   bjp  century  congress  sidhu  sixer
0    1        2         1      6      4
1    0        6         0      0      5

In [17]:
word_list_p = vec_p.get_feature_names();    
count_list_p = X_p.toarray().sum(axis=0) 
freq_p = dict(zip(word_list_p,count_list_p))
freq_p

{'bjp': 9, 'congress': 17, 'nifty': 1, 'sensex': 1, 'sidhu': 3, 'tdp': 13}

In [19]:
word_list_b = vec_b.get_feature_names();    
count_list_b = X_b.toarray().sum(axis=0) 
freq_b = dict(zip(word_list_b,count_list_b))
freq_b

{'bjp': 4, 'century': 1, 'congress': 1, 'nifty': 9, 'sensex': 12}

In [20]:
word_list_s = vec_s.get_feature_names();    
count_list_s = X_s.toarray().sum(axis=0) 
freq_s = dict(zip(word_list_s,count_list_s))
freq_s

{'bjp': 1, 'century': 8, 'congress': 1, 'sidhu': 6, 'sixer': 9}

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

docs = [row['sent'] for index,row in training_data.iterrows()]

vec = CountVectorizer()
X = vec.fit_transform(docs)

total_features = len(vec.get_feature_names())
total_features

8

In [24]:
total_cnts_features_p = count_list_p.sum(axis=0)
total_cnts_features_b = count_list_b.sum(axis=0)
total_cnts_features_s = count_list_s.sum(axis=0)

In [28]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

new_sentence = 'Nifty Nifty Nifty BJP BJP Sensex Sensex Sensex Sensex Sensex Sensex Congress Congress Century'
new_word_list = word_tokenize(new_sentence)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [34]:
prob_s_with_ls = []
p1=1
for word in new_word_list:
    if word in freq_s.keys():
        count = freq_s[word]
    else:
        count = 0
    prob_s_with_ls.append((count + 1)/(total_cnts_features_s + total_features))
    p1=p1*((count + 1)/(total_cnts_features_s + total_features))
dict(zip(new_word_list,prob_s_with_ls))
p1

5.505602363429078e-22

In [36]:
prob_p_with_ls = []
p2=1
for word in new_word_list:
    if word in freq_p.keys():
        count = freq_p[word]
    else:
        count = 0
    prob_p_with_ls.append((count + 1)/(total_cnts_features_p + total_features))
    p2=p2*((count + 1)/(total_cnts_features_p + total_features))
dict(zip(new_word_list,prob_p_with_ls))
p2

9.46135175695248e-25

In [38]:
prob_b_with_ls = []
p3=1
for word in new_word_list:
    if word in freq_b.keys():
        count = freq_b[word]
    else:
        count = 0
    prob_b_with_ls.append((count + 1)/(total_cnts_features_b + total_features))
    p3=p3*((count + 1)/(total_cnts_features_b + total_features))
dict(zip(new_word_list,prob_b_with_ls))
p3

2.415724362071022e-22

Business has least value;Document belongs to Business Category